.component-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
    
/* Table */
.table{
    text-align: center;
    width: 50%;
}

.table thead th{
    background-color: #91BED4;
}

.table tbody tr{
    background-color: #D9E8F5;
}

.table tbody tr:hover{
    background-color: #F26101;
}