#root {
  height: 100%;
}

.App{
  display: grid;
  height: 100%;
  grid-template-rows: 100px 1fr;
}

/*Navigation Bar*/

.navigation-bar{
  width: 100%;
  height: 100%;
  background-color: #304269;
}

.logo{
  width: 100px;
  height: 70px;
  float: left;
  margin: 15px;
}

.vtk{
  width:100%;
  height:100%;
  object-fit: contain;
}

.iverson{
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  color: #FFFFFF;
  font-weight: 700;
}

.wrapper{
  width: 960px;
  max-width: 90%;
  height: auto;
  margin:0 auto;
}

.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown .dropButton{
  padding-right: 25px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #91BED4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a{
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: #F26101;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.menue {
  float: right;
  margin-top: 40px;
}

.menue div{
  float: left;
}

.menue a{
  padding-right: 25px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
}

.arrowDown{
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-block-end: 2.5px;
}